<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
  <div class="container">
    <div class="navbar-header nav-title">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
            <span class="sr-only">Toggle navigation</span>  
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>  
      </button> 
      
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/images/logo.png" width="20" height="20">
      </a>
      <a class="navbar-brand" href="/">
        imovie
      </a>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-right">
    		{% if user %}
    			<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
	          <ul class="dropdown-menu">
            {% if user.role == 'admin' %}
	            <li><a href="/adminConsole">管理员控制台</a></li>
            {% endif %}
	            <li><a href="/logout">注销</a></li>
	          </ul>
	        </li>
	        <li><a href="/logout">注销</a></li>
    		{% else %}
    			  <li>
    			  	<a href="/user/loginPage">登录</a></li>
       			<li>
       				<a href="/user/registerPage">注册</a>
       			</li>
    		{% endif %}
      </ul>
    </div>
  </div>
</nav>